<!doctype html>
<html>
	<head>
		<title>study1 test frontend</title>
	</head>
	<body>
		<script text = "javascript">

		var xmlhttp = null;
		function request(url)
		{
			xmlhttp = null;
			if (window.XMLHttpRequest)
		  	{
		  		// code for all new browsers
		  		xmlhttp=new XMLHttpRequest();
		  	}
			else if (window.ActiveXObject)
		  	{
		  		// code for IE5 and IE6
		  		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  	}
			if (xmlhttp!=null)
		  	{
				xmlhttp.onreadystatechange=state_Change;
				xmlhttp.open("GET",url,true);
				xmlhttp.send(null);
			}
			else
		  	{
		  		alert("Your browser does not support XMLHTTP.");
		  	}
		}

		function state_Change()
		{
			if (xmlhttp.readyState==4)
		  	{// 4 = "loaded"
			  	if (xmlhttp.status==200)
			    {	
			    	// 200 = OK
			    	// ...our code here...
			    	console.log("333");
			    }
			  	else
			    {
			    	alert("Problem retrieving XML data");
			    }
		  	}
		}



			

		function test()
		{
			//request("http://127.0.0.1:5000/");	
			request("http://localhost:5000/");	
		}
		</script>
		<form>
			user name:<br/>
			<input type="text" name="username"></input>
			password:<br/>
			<input type="text" name="password"></input>
			<input type="submit" value="Submit">
		</form>

		<button onclick = "test()">test</button>
	</body>
</html>
